<div>{% if link %}

  <h2>{{ heading_title }}</h2>
  	

	<!-- this is without responsivety..
		<p><iframe height="100%"   src="{{ link }}" frameborder="0" allowfullscreen=""></iframe></p>
	-->


	<div class="row">
	<div class="col-xs-12 embed-responsive embed-responsive-16by9"><iframe src="{{ link }}" frameborder="0" allowfullscreen=""></iframe></div></div>
   

  {% endif %}
  			<!--  if you wanna see description -->
  {{ html }}

  </div>
